.navbar {
    position: sticky;
    top: 0;
    opacity: 1;
    z-index: 4;
}

.logo {
    /* position: relative; */
    background-color: rgba(0, 0, 0, 1);
    border-bottom: 1px #A6A6A6 solid;
    display: flex;
    justify-content: center;
}

img {
    width: 20%;
}

.sign {
    position: absolute;
    top: 4.6rem;
    right: 5rem;
    display: flex;
    gap: 1.5rem;

}

.nav-link {
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    text-align: center;
    border-bottom: 1px #A6A6A6 solid;
}

.active {
    align-items: center;
    border-bottom: 3px navy solid;
    border-left: 1px #A6A6A6 solid;
    border-right: 1px #A6A6A6 solid;
    color: antiquewhite;
    display: flex;
    font-weight: bold;
    height: 100%;
    padding: 1rem;
    text-decoration: none;
    width: auto;
}

.inactive {
    align-items: center;
    border-right: 1px #A6A6A6 solid;
    color: #A6A6A6;
    display: flex;
    height: 100%;
    padding: 1rem;
    text-decoration: none;
    width: auto;
}

.inactive:hover {
    color: navy;
    font-weight: bold;
}

.inactive-link {
    align-items: center;
    border-left: 1px #A6A6A6 solid;
    border-right: 1px #A6A6A6 solid;
    color: #A6A6A6;
    display: flex;
    height: 100%;
    padding: 1rem;
    text-decoration: none;
    width: auto;
}

.inactive-link:hover {
    color: maroon;
    font-weight: bold;
}

.btn-login {
    color: green;
    text-decoration: none;
}

.btn-login:hover {
    color: rgb(17, 185, 17);
    font-weight: bold;
}

.btn-logout {
    color: maroon;
    text-decoration: none;
    font-weight: bolder;
}

.btn-logout:hover {
    color: orangered
}

.btn-signin {
    color: #A6A6A6;
    text-decoration: none;
}

.btn-signin:hover {
    color: goldenrod;
    font-weight: bold;
}