* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  background-color: black;
  color: #A6A6A6;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
  display: flex;
  justify-content: center;
  /* position: relative; */
  border-bottom: 1px #A6A6A6 solid;
}


.nav-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
  text-align: center;
  border-bottom: 1px #A6A6A6 solid;
}

.link-home {
  padding: 1rem;
  width: auto;
  height: 100%;
  border-right: 1px #A6A6A6 solid;
  border-left: 1px #A6A6A6 solid;
  display: flex;
  align-items: center;
}

.link-home:hover {
  border-bottom: 3px navy solid;
  color: antiquewhite;
  font-weight: bold;
}

.link-starships {
  display: flex;
  align-items: center;
  padding: 1rem;
  width: auto;
  height: 100%;
  border-right: 1px #A6A6A6 solid;
}

.link-starships:hover {
  border-bottom: 3px navy solid;
  color: antiquewhite;
  font-weight: bold;
}

.starships-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem
}

.starship {
  background-color: #141414;
  color: #A6A6A6;
  margin-bottom: 1.3rem;
  border-radius: 2px;
  width: 800px;
  height: 70px;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}